body{
  margin: 0;
  width: 100%;
  min-height: 100vh;
  /* background-color: #fff200;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  background-color: red; */
  background-color: blue;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wall.png");
}

h1,
h2,
h3,
h4,
p,
li,
label {
  color: #fff200;
}

.container {
  width: 90%;
  margin: 12em auto 5em;
}

.navbar{
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  /* background-color: #fff200;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  background-color: red; */
  background-color: blue;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wall.png");
  z-index: 2;
  min-height: 9em;
  padding: .5em;
  border-bottom: .1em solid #fff200;
}

.movies {
  /* width: 90%;
  margin: 0 auto; */
  padding: 1em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  place-items: center;
  place-content: space-around;
  /* background-color: red; */
  /* border: .5em solid red; */
  border-radius: 1em;
}

.movie {
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  display: inline;
  padding: .5em;
  margin: .75em;
  border: .1em solid #fff200;
  border-radius: .5em;
  /* background: #fff200; */
  position: relative;
  text-align: center;
}
 a{
  color: blue;
}
.movies a{
  color: #fff200;
  text-decoration: none;
  border: solid #FFF200 .1em;
  border-radius: .5em;
  color: #FFF200;
  padding: .2em;
  display: block;
  width: 50%;
  margin: .5em auto;
}
.movie img {
   width: 100%;
   max-height: 30em;
 }

 #active_button{

   border: #fff200 solid .1em;
 }

.page_buttons{
   text-align: center;
   margin: 1em 0;
 }

.page_buttons button{
   margin: 0 .2em;
   font-size: 1em;
   border-radius: 1em;
   /* background-color: red; */
   border: black solid .06em;
   background: none;
   color: #fff200;
 }

form input{
 display: block;
}
.search{
  position: relative;
  width: 50%;
  height: 2.5em;
  display: inline-block;
}
.search input{
  display: inline;
  font-size: 1.2em;
  padding: .2em;
}
.search button{
  background: none;
  border:none;
  font-size: 1.4em;
  right: -2%;
  top: 19%;
  position: absolute;
}
.navbar .main{
  display: flex;
  width: 90%;
  align-items: center;
  margin-left: 6.5em;
  /* margin: 0 auto; */
  /* justify-content: space-between; */
}
.navbar div div{
  display: inline;
}

.navbar button,
.navbar a{
  margin-left: 2em;
  display: inline-block;
}

.navbar a{
  color: #fff200;
  text-decoration: none;
}

.navbar a,
.navbar div button{
  font-size: 1.2em;
  color: #fff200;
  background: none;
  border: none;
}
.navbar div button{
  padding: 0;
}
.navbar img{
  width:5em;
  display: inline;
  margin-bottom: -1em;
}
.navbar h1{
  display: inline-block;
  margin-left: 1em;
  text-shadow: -.03em -.03em 0 #000, .03em -.03em 0 #000, -.03em .03em 0 #000, .03em .03em 0 #000;
}
.navbar form button{
  color: black;
}
#search_input{
  padding: .5em;
  width: 100%;
  border-radius: 1em;
  border: none;
}

.comment {
  padding: .5em;
  margin: 1em 0;
  border-top: solid .2em black;
}
.create_comment input#title,
.create_comment textarea{
    min-width: 100%;
    max-width: 100%;
    font-size: 1.2em;
    padding: .2em;
    box-sizing: border-box;
    border: none;
}
.create_comment input#title {
  border-bottom: grey .1em solid;
}
.profile .profile_page{
  border:  solid #FFF200 .1em;
  margin-top: .5em;
  padding: 2em;
  height: 100%;
}
.profile .profile_nav{
  /* margin-right: .5em; */
  border-top: solid #FFF200 .1em;
  border-left: solid #FFF200 .1em;
  border-right: solid #FFF200 .1em;
  text-decoration: none;
  padding: .5em;
  margin-bottom: .5em;
  color: yellow;
}
.profile .active_profile{
  background-color: #FFF200;
  color: red;
}

.navbar button.mobile_buttton{
  display: none
}

@media (max-width: 800px)  {
  .navbar{
    min-height: .2em;
  }
  .container{
    margin-top: 9em;
  }
  .movies{
    grid-template-columns: 50% 50%;
  }

  .navbar .main{
    flex-direction: column;
    margin-left: 0;
    width: 100%
  }
  .navbar .responsive{
    display: none;
  }

  .navbar  button.mobile_buttton{
    font-size: 1.9em;
    display: block;
    position: absolute;
    top: .2em;
    right: 1em;
    background: none;
    border: solid #FFF200 .1em;
    border-radius: .5em;
    color: #FFF200;
  }

  .search{
    width: 90%;
  }
  .navbar button, .navbar a{
    display: block;
    margin-top: .8em;
  }
  .navbar h1{
    font-size: 1.5em;
    margin-bottom: .8em;
  }
  .navbar button, .navbar a{
    margin-left: 0;
  }
  #search_input{
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .search button{
    right: 3.9em;
    top:6%;
  }
}

@media (max-width: 500px)  {
  .navbar h1{
    display: block;
    text-align: center;
    margin-bottom: 0;
  }
  .container{
    margin-top: 10em;
  }
  .movies{
    grid-template-columns: 100%;
  }
  .search button{
    right: 2.3em;
    top: -7%;
  }
}
