#active_button{
  background-color: green;
  color: white;
}

.movies {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  place-items: center;
  place-content: space-around;
  background-color: red;
  border: .5em solid red;
  border-radius: 1em;
}
 .movie {
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  display: inline;
  padding: .5em;
  margin: .75em;
  border: .5em solid yellow;
  border-radius: .5em;
  background: #fff;
  position: relative;
}
 .movie img {
   width: 100%;
   max-height: 30em;
 }

 .page_buttons{
   text-align: center;
   margin: 1em 0;
 }
 .page_buttons button{
   margin: 0 .2em;
 }
